<div class="js-accordion js-accordion--open">
  <label class="label--subtle form__label">Periode verstuurd</label>
  <div class="flex-row">
  <AuButtonGroup @inline={{true}}>
    <AuButton @skin="secondary" class="{{unless this.isFilterEnabled 'is-active'}}" {{on 'click' this.resetFilter}}>
      All logs
    </AuButton>
    <AuButton @skin="secondary" class="{{if this.isFilterEnabled 'is-active'}}" {{on 'click' this.initRangeFilter}}>
      Specific period
    </AuButton>
  </AuButtonGroup>

  {{#if this.isFilterEnabled}}
    <div class="au-u-margin-left">
      <AuDatePicker
        @label="From"
        @value={{@fromValue}}
        @min="2000-01-01"
        @max="2050-01-01"
        @onChange={{this.updateFromValue}}>
      </AuDatePicker>
      <AuDatePicker
        @label="To"
        @value={{@toValue}}
        @min="2000-01-01"
        @max="2050-01-01"
        @onChange={{this.updateToValue}}>
      </AuDatePicker>
    </div>
  {{/if}}
  </div>
</div>
