<div class="js-accordion js-accordion--open">
  <label class="label--subtle form__label">Periode verstuurd</label>
  <div class="flex-row">
  <AuButtonGroup @inline={{true}}>
    <AuButton @skin="secondary" class="{{if (not this.isFilterEnabled) 'is-active'}}" {{on 'click' this.resetFilter}}>
      All logs
    </AuButton>
    <AuButton @skin="secondary" class="{{if this.isFilterEnabled 'is-active'}}" {{on 'click' this.initRangeFilter}}>
      Specific period
    </AuButton>
  </AuButtonGroup>

  {{#if this.isFilterEnabled}}
    <div class="au-u-margin-left">
      <WuDateRange
        @onChangeFromValue={{this.updateFromValue}}
        @onChangeToValue={{this.updateToValue}}
        @fromValue={{@fromValue}}
        @toValue={{@toValue}}
        @fromPlaceholder="01.01.2019"
        @fromMinDate="01.01.2019"
        @fromMaxDate="01.01.2050"
        @toPlaceholder="31.01.2019"
        @toMinDate="01.01.2019"
        @toMaxDate="01.01.2050"
      />
    </div>
  {{/if}}
  </div>
</div>
