<AuBodyContainer>

  <AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
    <Group>
      <ul class="au-c-list-horizontal au-c-list-horizontal--small">
        <li class="au-c-list-horizontal__item">
          <AuLink @route="jobs" @icon="arrow-left">
            {{t "jobs.overview.title"}}
          </AuLink>
        </li>
        <li class="au-c-list-horizontal__item au-u-medium">
          {{t "jobs.details.title"}}
        </li>
      </ul>
    </Group>
  </AuToolbar>

  <AuToolbar @border="bottom" @size="large" as |Group|>
    <Group class="au-c-toolbar__group--row au-c-toolbar_space-between">
      <AuHeading @skin="2">{{t "jobs.details.title"}}</AuHeading>
    </Group>
    <Group>
      <AuButton
        @icon="trash"
        @loading={{this.deleteJob.isRunning}}
        @loadingMessage={{t "jobs.details.deleting"}}
        @alert={{true}}
        {{on "click" (perform this.deleteJob this.model)}}
      >
        {{t "jobs.details.delete"}}
      </AuButton>
    </Group>

    <Group class="au-c-toolbar__group--row">
      <ul class="au-o-grid">
        <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
          <AuLabel>{{t "jobs.details.uri"}}</AuLabel>
          <p class="au-word-wrap">{{this.model.uri}}</p>
        </li>
        <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
          <AuLabel>{{t "jobs.details.creator"}}</AuLabel>
          <p class="au-word-wrap">{{this.model.creator}}</p>
        </li>
        <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
          <AuLabel>{{t "jobs.details.created"}}</AuLabel>
          {{format-date this.model.created "dd/MM/yyyy HH:mm:ss"}}
        </li>
        <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
          <AuLabel>{{t "jobs.details.modified"}}</AuLabel>
          {{format-date this.model.modified "dd/MM/yyyy HH:mm:ss"}}
        </li>
        <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
          <AuLabel>{{t "jobs.details.status"}}</AuLabel>
          <StatusPill @status={{this.model.shortStatus}} />
        </li>
        <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
          {{#if this.model.error.message}}
            <AuAlert
              @icon="cross"
              @title={{t "jobs.details.error_title"}}
              @skin="error"
            >
              <p class="au-word-wrap">{{this.model.error.message}}</p>
            </AuAlert>
          {{/if}}
        </li>
      </ul>
    </Group>
  </AuToolbar>

  <AuBodyContainer>
    {{outlet}}
  </AuBodyContainer>
</AuBodyContainer>