<AuHeading @skin="3" class="au-o-box">{{t "jobs.rcf.title"}}</AuHeading>

{{#let (t "jobs.rcf.data.nodata")
       (t "jobs.rcf.data.id")
       (t "jobs.rcf.data.name")
       (t "jobs.rcf.data.size")
       (t "jobs.rcf.data.created")
       (t "jobs.rcf.data.action")
       (t "jobs.rcf.data.download")
  as | nodata id na si cr ac download |}}
  <AuDataTable
    @content={{this.model}}
    @fields="title description"
    @noDataMessage={{nodata}}
    @sort={{this.sort}}
    @size={{this.size}}
    @page={{this.page}} as |t|>
    <t.content as |c|>
      <c.header>
        <th class="au-u-visible-small-up">{{id}}</th>
        <AuDataTableThSortable @label={{na}} @field="name" @currentSorting={{this.sort}} @class="data-table__header-title"/>
        <th class="data-table__header-title">{{si}}</th>
        <AuDataTableThSortable @label={{cr}} @field="created" @currentSorting={{this.sort}} @class="data-table__header-title"/>
        <th class="au-u-visible-small-up">{{ac}}</th>
      </c.header>
      <c.body as |row|>
        <td class="au-u-visible-small-up">
          {{row.uri}}
        </td>
        <td>
          {{row.name}}
        </td>
        <td>
          {{row.humanReadableSize}}
        </td>
        <td>
          {{format-date row.created 'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td class="au-u-visible-small-up">
          <AuLinkExternal
            @skin="primary"
            @icon="download"
            @iconAlignment="left"
            href={{row.downloadLink}}
            download={{row.name}}
            {{on "click" this.overrideClick}}>
            {{download}}
          </AuLinkExternal>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
{{/let}}
