<AcmidmLogout @tagName="a" class="popover__link">
  <i class="button__icon fa fa-power-off"></i>
  <span>Meld u af</span>
</AcmidmLogout>
<div class="nav-container">
  <LinkTo @route='index' class="nav-link">
    Reports
  </LinkTo>
  <LinkTo @route='errors' class="nav-link">
    Errors
  </LinkTo>
</div>
<div class="grid grid--collapse">
  <div class="col--12-12">
    <div class="container-flex--contain">
      <div class="u-border--fat--bottom u-hide-on-print">
        <div class="u-padding--round--small">
          <div class="grid">
            <div class="col--4-12 col--1-1--s">
              <h1 class="h2 u-spacer--right--small u-display-inline-block">Log errors</h1>
            </div>

            <div class="col--8-12 col--1-1--s u-align-right--tablet-portrait-up">
              {{#wu-button-group}}
                {{#wu-button onClick=(action "resetFilters") size="small" isDark=true isLink=true isNarrow=true class="u-spacer--bottom--none"}}
                  <i class="vi vi-cross vi-u-link button__icon" aria-hidden="true"></i> Reset all filters
                {{/wu-button}}
              {{/wu-button-group}}
            </div>

          </div>

          <div class="grid">
            <div class="col--4-12 col--6-12--m col--6-12--s">
              <label class="label--subtle form__label">Log level</label>
              {{log-level-select value=logLevelId onSelectionChange=(action (mut logLevelId)) class="ember-power-select--small"}}
            </div>
            <div class="col--4-12 col--6-12--m col--6-12--s">
              <label class="label--subtle form__label">Log source</label>
              {{log-source-select value=logSourceId onSelectionChange=(action (mut logSourceId)) class="ember-power-select--small"}}
            </div>
            <div class="col--4-12 col--1-1--m col--1-1--s">
              <div class="grid">
                <div class="col--1-1 col--6-12--m">
                  {{log-date-range fromValue=logDateFrom toValue=logDateTo onChangeFromValue=(action (mut logDateFrom)) onChangeToValue=(action (mut logDateTo))}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      {{#data-table content=model isLoading=isLoading noDataMessage="No logs found"
          sort=sort page=page size=size class="container-flex--contain data-table" as |t|}}
        {{#t.content as |c|}}
          {{#c.header}}
            {{th-sortable label='Log level' field='logLevel.label' currentSorting=sort}}
            {{th-sortable label='Source' field='logSource.label' currentSorting=sort}}
            {{th-sortable label='Class name' field='className' currentSorting=sort}}
            {{th-sortable label='Message' field='message' currentSorting=sort}}
            {{th-sortable label='Date' field='datetime' currentSorting=sort}}
            {{th-sortable label='Specific information' field='specificInformation' currentSorting=sort}}
          {{/c.header}}
          {{#c.body as |row|}}
            <td>{{row.logLevel.label}}</td>
            <td>{{row.logSource.label}}</td>
            <td>{{last-part-uri row.className}}</td>
            <td>{{row.message}}</td>
            <td>{{moment-format row.datetime 'D MMMM YYYY, HH:mm'}}</td>
            <td>{{row.specificInformation}}</td>
          {{/c.body}}
        {{/t.content}}
      {{/data-table}}
    </div>
  </div>
  {{outlet}}
</div>
